
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.accordion-title{
  position:relative;
  background-color: #f4f4f4;
  color: #333333;
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  margin: 0;
  font-weight: 400;
}

.horizontal-accodion-panel{
  overflow:hidden;
}

.accordion-bar-container{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  color: #333333;
}

.accordion-bar{
  position: relative;
  display:inline-block;
  overflow: hidden;
  border: 1px solid #c8c8c8;
  margin: 1px;
}

.rotate{
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
}

.title-bar{
  border: 1px solid #c8c8c8;
  margin: 1px;
  border-radius: 8px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.section-title{
  position: relative;
  color: #333333;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

.section-content-holder{
  position:absolute;
  top:0px;
  margin:1px;
  overflow:hidden;
}

.section-content{
  position:absolute;
  top:0px;
  overflow:auto;
  background:white;
  padding:15px;
  text-indent: 30px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #007ad9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
